<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>EduRush | Detalle de Curso</title>
    <th:block th:replace="~{fragments/layout :: head_imports}"></th:block>
</head>
<body>

    <div th:replace="~{fragments/layout :: navbar_principal}"></div>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">

                <div class="card card-edurush text-center p-4">

                    <div class="my-3">
                        <i class="fas fa-book fa-4x text-primary shadow-sm rounded-circle p-3 bg-light"></i>
                    </div>

                    <h3 class="fw-bold mb-0" th:text="${curso.nombre}"></h3>

                    <p class="text-muted mb-4">
                        <span th:text="'ID Curso: ' + ${curso.idCurso}"></span>
                    </p>

                    <ul class="list-group list-group-flush text-start mb-4">

                        <li class="list-group-item d-flex justify-content-between">
                            <span class="text-secondary">Créditos:</span>

                            <span class="fw-bold"
                                  th:text="${curso.creditos}">
                            </span>
                        </li>

                        <li class="list-group-item d-flex justify-content-between">
                            <span class="text-secondary">Modalidad:</span>

                            <span class="badge bg-primary py-2 px-3"
                                  th:text="${curso.modalidad}">
                            </span>
                        </li>

                        <li class="list-group-item d-flex justify-content-between">
                            <span class="text-secondary">Estado:</span>

                            <span th:classappend="${curso.estado == 'activo' ? 'bg-success' : 'bg-danger'}"
                                  class="badge py-2 px-3"
                                  th:text="${curso.estado}">
                            </span>
                        </li>

                    </ul>

                    <div class="d-grid gap-2">

                        <a th:href="@{/cursos/editar/{id}(id=${curso.idCurso})}"
                           class="btn btn-warning">
                            Editar Curso
                        </a>

                        <a th:href="@{/cursos}"
                           class="btn btn-outline-primary">
                            Volver al Listado
                        </a>

                    </div>

                </div>

            </div>
        </div>
    </div>

    <div th:replace="~{fragments/layout :: scripts_imports}"></div>

</body>
</html>